<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/styles.css" href="">
    </head>
    <body >

    <div class="box" id="heading">
       <h1><%=kindOfDay%></h1>
       <h2><%=currTime%></h2>
    </div>

    <div class="box">
         <% listItems.forEach(function(item){-%>
            <form action="/delete" method="post">
            <div class="item">
                <input name="checkbox" type="checkbox" onChange="this.form.submit()"
                value="<%=item._id%>">
                <p><%=item.name%></p>
                <br>
            </div>
            <input type="hidden" name="listName" value="<%=kindOfDay%>"></input>
            </form>
           <%});-%>


       <form class="item" method="post" action="/">
         <input type="text" name="item" placeholder="NewItem" >
         <button type="submit" name="list" value="<%=kindOfDay%>">+</button> 
       </form>

    </div>

    </body>
</html>